body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
  color: #272142;
}

a {
  color: #885df1;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  padding: 30px 0;
}

.current-temperature {
  display: flex;
  align-items: center;
  font-size: 48px;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 1.5;
}

.current-details strong {
  color: #f65282;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
